.choose {
    margin-bottom: 100px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

.logo p {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -5%;
    text-align: center;
    color: rgba(160, 36, 36, 1);
}

.logo img {
    width: auto;
    height: 30px; /* увеличь при необходимости */
    object-fit: contain;
}

.main-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 70px;
    justify-content: center;
    align-items: flex-end;
}

.main-info p {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -3%;
    text-align: center;
    color: rgba(160, 36, 36, 1);
}

.main-info h2 {
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -5%;
    text-align: center;
}

.choose-aromat {
    margin: 0 auto;
    display: flex;
    border-radius: 30px;
    border: 1px solid rgba(160, 36, 36, 1);;
    padding: 16px 60px 16px 20px;
    color: rgba(160, 36, 36, 1);
    background-color: transparent;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -3%;
    position: relative;
    text-align: center;
}

.choose-aromat::after {
    position: absolute;
    content: '';
    display: block;
    right: 20px;
    top: 14px;
    background: url('../static/solar_arrow-up-linear.svg');
    width: 26px;
    height: 26px;
}