.header {
  display: flex;
  margin-bottom: 120px;
  padding: 20px 0;
}

.logo-header {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.logo-header p {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(160, 36, 36, 1);
}
