.history {
  margin-bottom: 140px;
}

.history-container {
  padding: 0 20px;
  position: relative;
}

.history-title {
  position: absolute;
  z-index: -1;
  font-weight: 500;
  font-style: Medium;
  font-size: 172px;
  top: -125px;
  flex-wrap: nowrap;
  line-height: 100%;
  letter-spacing: -5%;
  text-align: center;
  color: rgba(160, 36, 36, 1);
}

.history-facts {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.history-facts .fact-history {
  background-color: rgba(247, 247, 247, 1);
  border-radius: 20px;
  padding: 30px;
  height: 317px;
}

.title-history-facts {
  font-weight: 400;
  font-style: 40;
  font-size: 60px;
  line-height: 90%;
  letter-spacing: -5%;
}

.fact-history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fact-history div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.podtitle-history-facts {
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -3%;
}

.fact-history div span {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -3%;
  color: rgba(0, 0, 0, 1);
  opacity: 0.4;
}

@media (max-width: 400px) {
  .history {
    margin-bottom: 70px;
  }

  .history-title {
    top: -52px;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    font-size: 32px;
  }

  .history-facts {
    gap: 15px;
    flex-direction: column;
  }
}
