* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.red-text {
  color: rgba(181, 55, 33, 1);
}

@import "./about.css";
@import "./infoBlock.css";
@import "./history.css";
@import "./bigphotostyles.css";
@import "./choose.css";
@import "./footer.css";
@import "./review.css";
@import "./reviews.css";
@import "./header.css";
@import "./startScreen.css";
